<div th:fragment="orderView" xmlns:th="http://www.w3.org/1999/xhtml" ng-cloak  ng-controller="orderCtrl" ng-init="init()">

    <div class="row" style="margin: 20px auto;">
        <div class="large-8 columns">
            <h4 class="subheader">İçecek seçiniz</h4>
            <table>
                <tbody>
                <tr ng-repeat="product in products | filter:{productType:'DRINK'}">
                    <td width="200">{{product.name}}</td>
                    <td>{{product.price}} TL</td>
                    <td width="100"><a class="button small" ng-click="openOrderModal(product)" href="javascript:;">Ekle + </a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="large-4 columns">

            <h4 class="subheader">Sepetim</h4>
            <p ng-if="orderList==null">Sepetiniz boş</p>
            <div class="basket" ng-if="orderList!=null">
                <ol>
                    <li ng-repeat="order in orderList">{{order.product.name}}<div class="float-right"><span class="basket_item">{{order.piece}} X {{order.product.price}}</span>{{order.price}} TL</div>
                        <ol>
                            <li ng-repeat="productAddon in order.addons">{{productAddon.name}} <div class="float-right"><span class="basket_item">{{order.piece}} X {{productAddon.price}}</span><span>{{productAddon.price*order.piece}} TL</span></div></li>
                        </ol>
                        <blockquote ng-if="order.orderNote" style="font-size: 12px;">{{order.orderNote}}</blockquote>
                    </li>
                </ol>
                <div>
                    <div class="basket_sum">Toplam: <span class="float-right">{{orderTotalPrice}} TL</span></div>
                </div>

                <a href="javascript:;" class="button success basket_button" ng-click="calculatedDiscountOrder()">Sepeti Onayla</a>
            </div>

        </div>
    </div>

    <!--Modals-->
    <div class="remodal" data-remodal-id="productDetail" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
        <div>
            <h3>{{selectedProduct.name}} {{selectedProduct.price}} TL</h3>
            <div class="form">

                <div class="counter_panel">
                    <input type="text" class="count" ng-model="count">
                    <button type="button" class="button tiny counter_button" ng-click="minus()"> - </button>
                    <button type="button" class="button tiny counter_button" ng-click="plus()"> + </button>
                </div>

                <fieldset>
                    <legend>Eklenti seçiniz</legend>
                    <div style="float: left;" ng-repeat="product in products | filter:{productType:'ADDON'}">
                        <input id="{{product.id}}" ng-click="checkedAddon(product)" type="checkbox"> <label for="{{product.id}}">{{product.name}} ({{product.price}} TL)</label>
                    </div>
                </fieldset>
                <span>Sipariş Notu</span>
                <textarea name="note" ng-model="orderNote" id="order_note" cols="30" rows="3" placeholder="Sipariş Notu" style="resize: none"></textarea>
            </div>
        </div>
        <br>
        <button class="remodal-confirm button success" ng-click="addToOrdersList()">Sepete Ekle</button>
    </div>



    <div class="remodal" data-remodal-id="orderDetail" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
        <div>
            <h3>Siparişi Tamamla</h3>
            <div class="form">
                <div class="basket" style="width: 100%" ng-if="orderList!=null">
                    <ol>
                        <li ng-repeat="order in orderList">{{order.product.name}}<div class="float-right"><span class="basket_item">{{order.piece}} X {{order.product.price}}</span>{{order.price}} TL</div>
                            <ol>
                                <li ng-repeat="productAddon in order.addons">{{productAddon.name}} <div class="float-right"><span class="basket_item">{{order.piece}} X {{productAddon.price}}</span><span>{{productAddon.price*order.piece}} TL</span></div></li>
                            </ol>
                            <blockquote ng-if="order.orderNote" style="font-size: 12px;">{{order.orderNote}}</blockquote>
                        </li>
                    </ol>
                </div>
            </div>

            <table>
                <tbody style="text-align: center;">
                <tr>
                    <td>Tutar:</td>
                    <td>Toplam İndirim</td>
                    <td>Ödenecek Tutar:</td>
                </tr>
                <tr style="font-weight: bold;">
                    <td>{{calculatedPrice.price}}</td>
                    <td>{{calculatedPrice.discountPrice}}</td>
                    <td>{{calculatedPrice.finalPrice}}</td>
                </tr>
                </tbody>
            </table>

        </div>
        <br>
        <button class="remodal-confirm button success" ng-click="orderDone()">Sipariş Ver</button>
    </div>

    <!--Modals-->

</div>


