<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" ng-app="app">
<head lang="en" th:replace="fragments/header :: header"></head>
<body>

<div class="top-bar" id="realEstateMenu">
    <div class="top-bar-left">
        <h4>Kahveci Efendi Online Sipariş</h4>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><span th:text="${customer.name+' '+customer.surname}"></span></li>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/history">Siparişlerim</a></li>
            <li><a href="/logout" class="button">Çıkış</a></li>
        </ul>
    </div>
</div>

<div th:replace="@{'views/' + ${content}} :: ${content}"></div>
<div lang="en" th:replace="fragments/footer :: footer"></div>
</body>
</html>